#bcenlogo {
    border-radius: 70px;
}

nav {
    padding: 0;
    box-shadow: none;
}

.navnav, button {
    background-image: linear-gradient(15deg, #226992 0%, #110e41 100%);
}
nav div a {
    color: white;
    font-family: 'DotGothic16', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 2px;
}
.longLink {
    max-width: 30px;
    display: block;
    margin-left: 5px;
    margin-right: 75px;
}
nav ul li {
    justify-content: end;
}
.heartCol {
    position: relative;
}
.hearts {
    position: absolute;
    display: flex;
    
}

@media (max-width: 425px) {
    img {
        max-width: 300px;
        max-height: 100px;
    }
}
/* .navbar-toggler {
color: black;
background-color: white;
} */

/* 
mdb-navbar .navbar.navbar-3 .navbar-toggler-icon {
    background-image: url('https://mdbcdn.b-cdn.net/img/svg/hamburger1.svg?color=6a1b9a');
} */

/* .navbar .in .nav li {
   display: block;
   float: none;
   width:100%;
}
.nav-back {
    background-image: linear-gradient(15deg, #226992 0%, #110e41 100%);
    color: white;
}
nav {
    box-shadow: none;
} */

/* 
@media (max-width: 1320px) {
    button {
        display:none
    }
}
@media (max-width: 1320px) {
    .firstul {
        display:none
    }
} */


@media (max-width: 991px) {
    .navnav, button {
    background-image: linear-gradient(25deg, #226992 25%, #110e41 75%);
}
}

@media (max-width: 425px) {
    .navnav, button {
    background-image: linear-gradient(25deg, #226992 25%, #130e5c 75%);
}
}

@media (max-width: 371px) {
    .navnav, button {
    background-image: linear-gradient(25deg, #226992 25%, #130e5c 75%);
}
}
