.photoSlider {
    margin-top: 45px;
    
 
}

.photoSlider img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    object-position:inherit;

}
.mdslider {
    
    /* max-height: 287px; */
}

@media (max-width: 1024px) {
    .photoSlider img {
        
        width: 100%;
        object-fit: cover;
        object-position:inherit;
    
    }
}
@media (max-width: 425px) {
    .photoSlider img {
        max-height: 120px;
        object-fit: cover;
        
    }
}

@media (max-width: 320px) {
    .photoSlider img {
        max-height: 100px;
        object-fit: cover;
        
    }
    }