<!-- <div id="carouselExampleControls" class="carousel slide photoSlider" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/bcen-banner-regular.jpg" class="d-block w-100 mx-auto" alt="Acen Logo with date">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/anton-maksimov-juvnsky-3jDZM3rgpz8-unsplash.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/deadmau5-clan.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/gracia-dharma-qTlbO6mkQH0-unsplash.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/matoki-mask.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/pat-krupa-Of2rc0KOfVU-unsplash.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/samuel-berner-kcvEQb7GXZc-unsplash.jpg" class="d-block w-100" alt="...">
      </div>
    
    </div>
    <button class="carousel-control-prev leftBtn" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next rightBtn" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->
<div class="photoSlider">
  <mdb-carousel [animation]="'slide'" class="mdslider" >
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../assets/images/bcen-banner-regular.jpg" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../assets/images/anton-maksimov-juvnsky-3jDZM3rgpz8-unsplash.jpg" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../assets/images/deadmau5-clan.jpg" class="d-block w-100" alt="Third slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../assets/images/gracia-dharma-qTlbO6mkQH0-unsplash.jpg" class="d-block w-100" alt="Third slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../assets/images/matoki-mask.jpg" class="d-block w-100" alt="Third slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../assets/images/pat-krupa-Of2rc0KOfVU-unsplash.jpg" class="d-block w-100" alt="Third slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../assets/images/samuel-berner-kcvEQb7GXZc-unsplash.jpg" class="d-block w-100" alt="Third slide">
    </mdb-carousel-item>
  </mdb-carousel>
</div>
 