<div class="container">
    <div class="row">
        <div class="col">
            <app-slider></app-slider>
        </div>
    </div>
    <div class="nes-container with-title nesCont is-right">
        <div class="row title">
            <div class="col-12">
                <h2 class="titles" id="About">About BCen</h2>
            </div>
        </div>
        <div class="row">

            <span class="icon-list iconz heartCol col-4">
                <!-- heart -->
                <i class="nes-icon is-large heart"></i>
                <i class="nes-icon is-large heart"></i>
                <i class="nes-icon is-large heart"></i>
                <i class="nes-icon is-large heart"></i>
            </span>
            <div class="col-4 "></div>
            <div class="col-4 "></div>

        </div>
        <div class="row">
            <div class="col borderLine"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="paragraphs">A blissful world away from the Panaderia. Where cosplayers and fans of many walks
                    can relive the nostalgic memories and joy of feeling like a kidult again amidst hours of friendship
                    and fantasy at a con. A place free of judgement and overflowing with love for each other's
                    creativity and expression of favorites in the realm of pop culture and entertainment. A place where
                    fandoms collide. BCen a mini-con conceived in 2020 by founder Brianna as the intersection of all of
                    these things. Diverse, Equitable, Inclusive.
                </p>
            </div>
        </div>
    </div>

    <div class="nes-container with-title nesCont is-left">
        <div class="row title" >
            <h2 class="titles" id="Rules">Rules</h2>
        </div>
        <div class="row">
            <div class="col-4 "></div>
            <div class="col-4 "></div>
            <span class="icon-list iconz rightHeart col-4">
                <!-- heart -->
                <i class="nes-icon is-large heart"></i>
                <i class="nes-icon is-large heart"></i>
                <i class="nes-icon is-large heart"></i>
                <i class="nes-icon is-large is-half heart"></i>
            </span>
        </div>
        <div class="row">
            <div class="col borderLine"></div>
        </div>
        <div class="row">
            <div class="col-12 lists">
                <ol class="nes-list is-circle">
                    <li>
                        Check-in: After 3:00 PM
                    </li>
                    <li>
                        Checkout: 11:00 AM
                    </li>
                    <li>
                        Self check-in with keypad
                    </li>
                    <li>
                        No smoking
                    </li>
                    <li>
                        No pets
                    </li>
                    <li>
                        No parties or events
                    </li>
                    <li>
                        Be a clean, responsible, respectable adult!
                    </li>
                    <li>
                        Have fun!
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div class="nes-container with-title nesCont is-right">
        <div class="row title">
            <div class="col-12">
                <h2 class="titles" id="donate">Wanna Donate?</h2>
            </div>
        </div>
        <div class="row">
            <span class="icon-list heartCol iconz col-4">
                <!-- heart -->
                <i class="nes-icon is-large trophy"></i>
                <i class="nes-icon is-large coin"></i>
                <i class="nes-icon is-large coin"></i>
                <i class="nes-icon is-large trophy"></i>
            </span>
            <div class="col-4 "></div>
            <div class="col-4 "></div>

        </div>
        <div class="row">
            <div class="col borderLine"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="paragraphs">
                    The creator and founder of BCen has lovingly prepared many things to make this event a success
                    behind the scenes. Love alone was enough to spur this event from the bottom up, but real h o u r s
                    and monies
                    
                        <i class="nes-icon coin is-small"></i>
                        <i class="nes-icon coin is-small"></i>
                        <i class="nes-icon coin is-small"></i>
                 
                    
                    are the fuel that allow this ship to rise and truly sail. Besides this site and logos, many exciting events and surprises have
                    been planned for you, beautiful BCen congoer! If you would like to donate something to the creator
                    of this event, please do message BCen Founder, Bri, to find out how. Any donations to supplement
                    this event would be a GRAND help, no matter the size!
                </p>
                <p class="paragraphs">
                    Donating is...
                </p>
                <p id="smTxt">not required,</p>
                <p id="mdTxt">but highly encouraged,</p>
                <p id="lgTxt">and GREATLY appreciated!</p>
            </div>
        </div>
    </div>

    <div class="regBtn">
        <a href="sign-up">
            <button type="button" class="nes-btn is-warning">
                Register Now!
            </button>
        </a>
    </div>
</div>