<!-- <app-slider></app-slider> -->
<div class="container">
    <div class="row">
        <div class="col">
            <app-slider></app-slider>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <h2 class="titles">About BCen</h2>
        </div>
        <div class="col heartCol">
            <img class="hearts" src="..\..\assets\images\fullheart.PNG" width="220px" height="40px" />
        </div>
    </div>
    <div class="row">
        <div class="col borderLine"></div>
    </div>

    <div class="row">
        <div class="col-12">
            <p class="paragraphs">A blissful world away from the Panaderia. Where cosplayers and fans of many walks can relive the nostalgic memories and joy of feeling like a kidult again amidst hours of friendship and fantasy at a con. A place free of judgement and overflowing with love for each other's creativity and expression of favorites in the realm of pop culture and entertainment. A place where fandoms collide. BCen a mini-con conceived in 2020 by founder Brianna as the intersection of all of these things. Diverse, Equitable, Inclusive.</p>
        </div>
    </div>
</div>