.titles {
    color: #235877;
    background: 'linear-gradient(to left, #374d93, #020024)';
    font-size: 40px;
    font-weight: 600;
    text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
    margin-bottom: 0;
    /* font-family: 'Bangers', cursive; */
    font-family: 'Press Start 2P', cursive;
}
.paragraphs {
    font-weight: 300;
    font-family: 'Press Start 2P', cursive;
    text-align: left;
}
.borderLine {
    background-color: black;
    width: 10px;
    height: 5px;
    margin-bottom: 45px;
}
.nesCont {
    margin-top: 45px;
    position: relative;
}
.iconz {
    margin-top: -55px;
}
.hearts {
    width: 100%;
    height: 82%;
}

.regBtn {
    width: 50px;
    position: fixed;
    bottom: 15px;
    left: 5px; 
}

#smTxt {
    font-size: 10px;
    text-align: left;
    margin-left: 145px;
}

#mdTxt {
    font-size: 15px;
    text-align: center;
    margin-left: -145px;
}

#lgTxt {
    font-size: 20px;
    
}
@keyframes bounce { 0% { transform: translateY(60px); } 100% { transform: translateY(-30px); } }
#benny {
    
 animation: bounce 0.8s infinite alternate; 
}
img {
    position: absolute;
    right: -85px;
    bottom: -50px;
}
.nes-balloon {
    width: 70%;
}

@media (max-width: 1450px) {
    .regBtn {
        position: unset;
        width: fit-content;
        bottom: 15px;
        /* position: relative; */
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 1024px) {
    .regBtn {
        width: 25px;
        position: fixed;
        bottom: 15px;
        left: 80%;
    }
}


@media (max-width: 768px) {
    
    .iconz {
        display: inherit;
        margin-top: unset;
        text-align: center;
    }
    .rightHeart {
        position: inherit;
        margin-right: 10px;
        margin-top: 15px;
        
    }
    .regBtn {
        position: unset;
        width: fit-content;
        bottom: 15px;
        /* position: relative; */
        margin-right: auto;
        margin-left: auto;
    }
}
@media (max-width: 425px) {
    #mdTxt {
        margin-left: -10px;
    }
    img {
        position: absolute;
        right: -55px;
        bottom: -45px;
    }
    .nes-balloon {
        width: 100%;
        position: relative;
        left: -40px;
    }
}