<section>
    <form>
        <div class="nes-container is-dark with-title">
            <div class="row">
                <div class="col">
                    <p class="title">Sign In</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="nes-field is-inline">
                        <label for="warning_field">Username</label>
                        <!-- [(ngModel)]="newUser.nickname" -->
                        <input type="text" id="warning_field" class="nes-input is-warning"
                            placeholder="bluepineapple47" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="nes-field is-inline">
                        <label for="warning_field">Password</label>
                        <!-- [(ngModel)]="newUser.password" -->
                        <input type="password" mdbValidate minLength="10" maxLength="25" id="warning_field"
                            class="nes-input is-warning form-control " placeholder="******" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <!-- (click)="signInUser()" -->
                    <button type="button" class="nes-btn is-warning is-right">Sign In!</button>
                </div>
            </div>


        </div>

    </form>
</section>