section {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    margin-bottom: 50px;
}

.nes-container {
    border-radius: 10px;
    border: black;
    
    -webkit-box-shadow: 0px 0px 0px 8px #000000, 0px 0px 0px 16px #4B4C4B, 0px 0px 0px 24px #828482, 0px 0px 0px 31px #B2B5B2, 0px 0px 0px 39px #DADDDA, -47px 9px 8px 0px rgba(0,0,0,0); 
box-shadow: 0px 0px 0px 8px #000000, 0px 0px 0px 16px #4B4C4B, 0px 0px 0px 24px #828482, 0px 0px 0px 31px #B2B5B2, 0px 0px 0px 39px #DADDDA, -47px 9px 8px 0px rgba(0,0,0,0);

}

.nes-field {
    margin-bottom: 25px;
    min-height: fit-content;
}
button {
    left: 82.5%;
}

@media (max-width: 1440px) {
    section {
        width: 50%;
        margin-left: 18%;
        margin-top: 15vh;
    }
    button {
        left: 0;
    }
}

@media (max-width: 425px) {
    section {
        width: 300px;
        margin-left: 30px;
        margin-top: 5vh;
    }
    button {
        left: 15%;
    }
}

