<section>
    <form ngNativeValidate>
        <div class="nes-container is-dark with-title">
            <div class="row">
                <div class="col">
                    <p class="title">Sign In</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="nes-field is-inline">
                        <label for="warning_field">Username</label>
                        <input [(ngModel)]="existingUser.nickname" type="text" name="nickname" id="warning_field" class="nes-input is-warning"
                            placeholder="username" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="nes-field is-inline">
                        <label for="warning_field">Password</label>
                        <input [(ngModel)]="existingUser.password" type="password" name="password" mdbValidate minLength="4" maxLength="25" id="warning_field"
                            class="nes-input is-warning form-control " placeholder="password" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col" (click)="signIn()">
                    <button type="submit" class="nes-btn is-warning is-right">Sign In</button>
                </div>
            </div>


        </div>

    </form>
</section>