<section>
    <div class="nes-container is-dark with-title">
        <div class="row">
            <div class="col">
                <p class="title">Sign In</p>
            </div>
        </div>
      
        <div class="row">
            <div class="col">
                <div class="nes-field is-inline">
                    <label for="warning_field">Username</label>
                    <input type="text" id="warning_field" class="nes-input is-warning" placeholder="bluepineapple47">
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <div class="nes-field is-inline">
                    <label for="warning_field">Password</label>
                    <input type="text" id="warning_field" class="nes-input is-warning" placeholder="******">
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <button type="button" class="nes-btn is-warning is-right">Sign In!</button>
            </div>
        </div>
        
    
    </div>
</section>