<!-- <div class="subBtn" >
    <a href="#">
        <button type="button" class="nes-btn is-warning">
            Submit!
        </button>
    </a>
</div> -->
<div class="">
    <div class="nes-container with-title nesCont is-centered">
        <div class="row title aboutHeart">
            <div class="col-12">
                <h2 class="titles" id="registrationSect">Registration</h2>
            </div>
        </div>
        <div class="row">

            <section class="icon-list heartCol col-12">
                <!-- heart -->
                <i class="nes-icon is-large  heart"></i>
                <i class="nes-icon is-large  heart"></i>
                <i class="nes-icon is-large  heart"></i>
                <i class="nes-icon is-large  heart"></i>
                <i class="nes-icon is-large  heart"></i>
                <i class="nes-icon is-large  heart"></i>
                <i class="nes-icon is-large  heart"></i>
                <i class="nes-icon is-large  heart"></i>
                <i class="nes-icon is-large  heart"></i>
                <i class="nes-icon is-large is-half heart"></i>
                <i class="nes-icon is-large is-empty heart"></i>
                <i class="nes-icon is-large is-empty heart"></i>
            </section>


        </div>
        <div class="row">
            <div class="col borderLine"></div>
        </div>

        <div class="row">
            <div class="col-12">
                <ol>
                    <div class="">
                        <div class="row">
                            <div class="col-6 ">
                                <li>
                                    <div class="nes-field is-inline">
                                        <label for="inline_field">What is your name?</label>
                                        <input [(ngModel)]="newUser.name" type="text" id="inline_field"
                                            class="nes-input" placeholder="John Doe" required>
                                    </div>
                                </li>
                                <!-- <li>
                                    <div class="nes-field is-inline">
                                        <label for="inline_field">Give me your nickname!</label>
                                        <input type="text" id="inline_field"
                                            class="nes-input" placeholder="John Doruto">
                                    </div>
                                </li>
                                <li>
                                    <div class="nes-field is-inline">
                                        <label for="inline_field">Enter your password.</label>
                                        <input [(ngModel)]="newUser.password" type="text" id="inline_field"
                                            class="nes-input" placeholder="banana">
                                    </div>
                                </li> -->
                                <li>

                                    <label>
                                        Have you paid Brianna?
                                        <input type="radio" class="nes-radio" name="answer" checked required/>
                                        <span>Yes</span>
                                    </label>

                                    <label>
                                        <input type="radio" class="nes-radio" name="answer" />
                                        <span>No</span>
                                    </label>
                                </li>
                                <li>

                                    <div class="nes-field is-inline">
                                        <label for="inline_field">Favorite Candy...and GO!</label>
                                        <input [(ngModel)]="newUser.favoritecandy" type="text" id="inline_field"
                                            class="nes-input" placeholder="John Doritos" required>
                                    </div>
                                </li>
                                <li>
                                    <div class="nes-field is-inline">
                                        <label for="inline_field">What's your favorite color?</label>
                                        <input [(ngModel)]="newUser.favoritecolor" type="text" id="inline_field"
                                            class="nes-input" placeholder="orange" required>
                                    </div>
                                </li>
                                <li>

                                    <div class="nes-field is-inline">
                                        <label for="inline_field">List any food allergies or dislikes</label>
                                        <input [(ngModel)]="newUser.foodallergies" type="text" id="inline_field"
                                            class="nes-input" placeholder="I HATE TACOS" required>
                                    </div>
                                </li>
                                <li>
                                    <label for="textarea_field">How many panels do you want to run?</label>
                                    <input [(ngModel)]="newUser.panels" id="input_field" class="nes-textarea" placeholder="32"/>
                                </li>
                                <li>

                                    <div class="nes-field is-inline">
                                        <label for="inline_field">Whats your cosplay?</label>
                                        <input [(ngModel)]="newUser.cosplays" type="text" id="inline_field"
                                            class="nes-input" placeholder="ie. AoT Potato Girl">
                                    </div>
                                </li>
                            </div>
                            <!-- spacer div -->
                            <div class="col-1"></div>
                            <!-- column "2" -->
                            <div class="col-5">
                                <li>

                                    <label for="textarea_field">Top 5 Animu</label>
                                    <textarea [(ngModel)]="newUser.topfiveanime" id="textarea_field"
                                        class="nes-textarea">1. Boku no pickles</textarea>
                                </li>
                                <li>

                                    <div class="nes-field is-inline">
                                        <label for="inline_field">Top 2 Fav Animu Characters?</label>
                                        <input [(ngModel)]="newUser.toptwoanimecharacters" type="text" id="inline_field"
                                            class="nes-input" placeholder="Inuyasha,Kagome!">
                                    </div>
                                </li>
                                <li>

                                    <label for="textarea_field">Top 5 Kpop Groups/Musicians</label>
                                    <textarea [(ngModel)]="newUser.topfivekpopgroups" id="textarea_field"
                                        class="nes-textarea"></textarea>
                                </li>
                                <li>
                                    <div class="nes-field is-inline">
                                        <label for="inline_field">Ultimate Bias(es) Name 2</label>
                                        <input [(ngModel)]="newUser.toptwoultimatebiases" type="text" id="inline_field"
                                            class="nes-input" placeholder="ie.  Taemin">
                                    </div>
                                </li>
                                <li>

                                    <label for="textarea_field">Any special requests to the planners?</label>
                                    <textarea [(ngModel)]="newUser.additionalinfo" id="textarea_field"
                                        class="nes-textarea"></textarea>
                                </li>
                                <div class="subBtn">
                                    <button (click)="registerUser()" type="button" class="nes-btn is-warning">
                                        Submit!
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ol>
            </div>
        </div>
    </div>