<!-- <div class="navbar">
    <a routerLink="home">Home</a>
    <a routerLink="register">Register</a>
</div> -->

<!-- all anchor hrefs are now routerLink -->
<nav class="navbar navbar-expand-lg navnav ">
    <div class="container-fluid">
        <!-- <img src="..\..\assets\images\bcen_noback-logo.png" width="350px" height="150px" /> -->
      <a class="navbar-brand" routerLink="home">
        <img id="bcenlogo" src="..\..\assets\images\bcen yesback.png" width="350px" height="150px" />
      </a>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
              <!-- change this to anchor to about section -->
            <a class="nav-link " aria-current="page" routerLink="home/#about">About</a>
          </li>
          <li class="nav-item">
            <!-- change this to anchor to rules section -->
          <a class="nav-link" aria-current="page" routerLink="home/#rules">Rules</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="programming">Programming</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="volunteering">Volunteering</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="register">Register Now</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="https://www.airbnb.com/rooms/28737303?source_impression_id=p3_1619323155_S0mkJO7rexpf0GqW" target="_blank">2021 Hotel Blocks</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>