<div class="topper">
<div class="nes-container with-title is-dark is-rounded topper">
    <div class="row title aboutHeart">
        <h2 class="titles">BCen Programming</h2>
    </div>
    <div class="row">
        <div class="col borderLine"></div>
    </div>
    <form ngNativeValidate>
        <div class="row">
            <div class="col-6">
                <p id="intro">Give us details on your panel and add it to the list!</p>
            </div>
            <!-- match this one up later -->
            <div class="col-6">
                <button (click)="createEvent()"type="submit" class="nes-btn is-warning submit">Add!
                </button>
            </div>
        </div>

        <div class="row ">
            <div class="col-4">
                <div class="nes-field">
                    <label for="name_field">Your name</label>
                    <input [(ngModel)]="newEvent.creator.name" type="text" id="name_field" class="nes-input" required />
                </div>
            </div>
            <div class="col-2">
                <div class="nes-field">
                    <label for="name_field">Min. # Ppl</label>
                    <input [(ngModel)]="newEvent.minimumparticipants"type="text" id="name_field" class="nes-input" placeholder="2" required />
                </div>
            </div>
            <div class="col-6">
                <div class="nes-field">
                    <label for="name_field">Panel Title</label>
                    <input [(ngModel)]="newEvent.title"type="text" id="name_field" class="nes-input" required />
                </div>
            </div>
        </div>

        <div class="row finalRow">
            <div class="col-6">
                <div class="nes-field">
                    <label for="name_field">Category</label>
                    <input [(ngModel)]="newEvent.category"type="text" id="name_field" class="nes-input" placeholder="Kpop, Anime, Games, Fashion, etc." required />
                </div>
            </div>
            <div class="col-6">
                <div class="nes-field">
                    <label for="name_field">Description</label>
                    <textarea [(ngModel)]="newEvent.description"type="text" id="name_field" class="nes-input" required ></textarea>
                </div>
            </div>
        </div>
    </form>
    <div class="row title aboutHeart">
        <h2 class="titles" id="panelList">Panels</h2>
    </div>

    <!-- Example User's Panel -->
    <div class="nes-container with-title nesCont is-dark is-rounded">
        <div class="row ">
            <div class="col-3 ">
                <h3>Host:</h3>
            </div>
            <div class="col-9 ">
                <!-- Where the data gets pulled for user -->
                <p>Founder-Nim</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3 ">
                <h5>Panel Title:</h5>
            </div>
            <div class="col-9 ">
                <!-- Where the data gets pulled for min participants -->
                <p>Soap Sud</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3 ">
                <h5>Panel Category:</h5>
            </div>
            <div class="col-9 ">
                <!-- Where the data gets pulled for min participants -->
                <p>Rave</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3 ">
                <h5>Min # of Ppl:</h5>
            </div>
            <div class="col-9 ">
                <!-- Where the data gets pulled for min participants -->
                <p>3</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <h5>Description:</h5>
            </div>
            <div class="container col-9">
                <div class="row field">
                    <div class="col-12 ">
                        <!-- Where the data gets pulled for user -->
                        <p id="descr">The most anticipated rave of the BCen weekend: Soap Sud! Aptly named to remind participants to come so fresh n' so clean for a night JAM packed with bops, lights, and vibes. Dance until the break of dawn!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 1st User's Panel -->
    <div *ngFor="let e of events" class="nes-container with-title nesCont is-dark is-rounded">
        <div class="row ">
            <div class="col-3 ">
                <h3>Host:</h3>
            </div>
            <div class="col-9 ">
                <!-- Where the data gets pulled for user -->
                <p>{{e.creator.name}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3 ">
                <h5>Panel Title:</h5>
            </div>
            <div class="col-9 ">
                <!-- Where the data gets pulled for min participants -->
                <p>{{e.title}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3 ">
                <h5>Panel Category:</h5>
            </div>
            <div class="col-9 ">
                <!-- Where the data gets pulled for min participants -->
                <p>{{e.category}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3 ">
                <h5>Minimum Participants:</h5>
            </div>
            <div class="col-9 ">
                <!-- Where the data gets pulled for min participants -->
                <p>{{e.minimumparticipants}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <h5>Description:</h5>
            </div>
            <div class="container col-9">
                <div class="row field">
                    <div class="col-12 ">
                        <!-- Where the data gets pulled for user -->
                        <p>{{e.description}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>