<div class="nes-container with-title nesCont is-dark is-rounded">
    <div class="row title aboutHeart">
        <h2 class="titles" id="rules">BCen Programming</h2>
    </div>
    <div class="row">
        <div class="col borderLine"></div>
    </div>

    <!-- 1st User's Panel -->
    <div class="nes-container with-title nesCont is-dark is-rounded">
        <div class="row ">
            <div class="col-3 ">
                <h3>Host:</h3>
            </div>
            <div class="col-9 ">
                <!-- Where the data gets pulled for user -->
                <p>hardcoded User</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3 ">
                <h5>Panel Title:</h5>
            </div>
            <div class="col-9 ">
                <!-- Where the data gets pulled for min participants -->
                <p>Murda Mystery</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3 ">
                <h5>Panel Category:</h5>
            </div>
            <div class="col-9 ">
                <!-- Where the data gets pulled for min participants -->
                <p>Anime</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3 ">
                <h5>Minimum Participants:</h5>
            </div>
            <div class="col-9 ">
                <!-- Where the data gets pulled for min participants -->
                <p>7</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <h5>Description:</h5>
            </div>
            <div class="container col-9">
                <div class="row field">
                    <div class="col-12 ">
                        <!-- Where the data gets pulled for user -->
                        <p>Hard coded description: lorem ipsum blah blah lorem ipsum blah blahlorem ipsum blah blahlorem
                            ipsum blah blahlorem
                            ipsum blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum
                            blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah
                            blahlorem ipsum blah blah lorem ipsum blah blah lorem ipsum blah blahlorem ipsum blah
                            blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah
                            blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah
                            blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah blah lorem ipsum blah blah
                            lorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah blahlorem
                            ipsum blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum
                            blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah
                            blah
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 2nd User's Panel Not Dark. Alternating? -->
    <div class="nes-container with-title nesCont is-rounded">
        <div class="row ">
            <div class="col-3 ">
                <h3>Host:</h3>
            </div>
            <div class="col-9 ">
                <!-- Where the data gets pulled for user -->
                <p>hardcoded User 2</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3 ">
                <h5>Panel Title:</h5>
            </div>
            <div class="col-9 ">
                <!-- Where the data gets pulled for min participants -->
                <p>Sqsh Thrst Ngh!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3 ">
                <h5>Panel Category:</h5>
            </div>
            <div class="col-9 ">
                <!-- Where the data gets pulled for min participants -->
                <p>Wrld of Y__i</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3 ">
                <h5>Minimum Participants:</h5>
            </div>
            <div class="col-9 ">
                <!-- Where the data gets pulled for min participants -->
                <p>3</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <h5>Description:</h5>
            </div>
            <div class="container col-9">
                <div class="row field">
                    <div class="col-12 ">
                        <!-- Where the data gets pulled for user -->
                        <p>Hard coded description: lorem ipsum blah blah lorem ipsum blah blahlorem ipsum blah blahlorem
                            ipsum blah blahlorem
                            ipsum blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum
                            blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah
                            blahlorem ipsum blah blah lorem ipsum blah blah lorem ipsum blah blahlorem ipsum blah
                            blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah
                            blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah
                            blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah blah lorem ipsum blah blah
                            lorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah blahlorem
                            ipsum blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum
                            blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah
                            blah
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 3rd User's Panel -->
    <div class="nes-container with-title nesCont is-dark is-rounded">
        <div class="row ">
            <div class="col-3 ">
                <h3>Host:</h3>
            </div>
            <div class="col-9 ">
                <!-- Where the data gets pulled for user -->
                <p>hardcoded User 3</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3 ">
                <h5>Panel Title:</h5>
            </div>
            <div class="col-9 ">
                <!-- Where the data gets pulled for min participants -->
                <p>Soap Sud</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3 ">
                <h5>Panel Category:</h5>
            </div>
            <div class="col-9 ">
                <!-- Where the data gets pulled for min participants -->
                <p>Rave</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3 ">
                <h5>Minimum Participants:</h5>
            </div>
            <div class="col-9 ">
                <!-- Where the data gets pulled for min participants -->
                <p>3</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <h5>Description:</h5>
            </div>
            <div class="container col-9">
                <div class="row field">
                    <div class="col-12 ">
                        <!-- Where the data gets pulled for user -->
                        <p>Hard coded description: lorem ipsum blah blah lorem ipsum blah blahlorem ipsum blah blahlorem
                            ipsum blah blahlorem
                            ipsum blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum
                            blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah
                            blahlorem ipsum blah blah lorem ipsum blah blah lorem ipsum blah blahlorem ipsum blah
                            blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah
                            blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah
                            blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah blah lorem ipsum blah blah
                            lorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah blahlorem
                            ipsum blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum
                            blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah blahlorem ipsum blah
                            blah
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>