.mainCont{
    margin-right: auto;
    margin-left: auto;
}
.topper {
    margin-top: 45px;
}
.titles {
    color: #235877;
    background: 'linear-gradient(to left, #374d93, #020024)';
    font-size: 40px;
    font-weight: 600;
    text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
    margin-bottom: 0;
    /* font-family: 'Bangers', cursive; */
    font-family: 'Press Start 2P', cursive;
}
ngb-alert {
    position: absolute;
    right: 0;
}
.borderLine {
    background-color: black;
    width: 10px;
    height: 5px;
    margin-bottom: 45px;
}


h3, h5, #intro {
    /* color:#c9f3c9; */
    /* color:#ffd014; */
    color: #235877;
}
.submit {
    position: absolute;
    right: 40px;
}

.finalRow {
    margin-bottom: 45px;
}

@media (max-width: 768px) {
    h3, h5 {
        min-width: 240px;
        /* font-size: 26px; */
    }

    .col-9 {
        margin-left: 165px;
    }
}
@media (max-width: 425px) {
    .titles {
        font-size: 26px;
    }
    .col-9 {
        margin-left: 90px;
    }
    #descr {
        min-width: 75vw;
        margin-left: -90px;
    }
}
