<!-- Characters/sprite copyright owned by Nintendo -->
<div class="container nes-container with-title nesCont is-left">
    <div class="row title aboutHeart">
        <h2 class="titles" id="rules">Wanna Volunteer?</h2>
    </div>
    <div class="row">
        <div class="col-4 "></div>
        <div class="col-4 "></div>
        <section class="icon-list heartCol col-4">
            <!-- heart -->
            <i class="nes-icon is-large star"></i>
            <i class="nes-icon is-large star"></i>
            <i class="nes-icon is-large star is-half"></i>
            <i class="nes-icon is-large star is-transparent"></i>
        </section>
    </div>
    <div class="row">
        <div class="col borderLine"></div>
    </div>
    <div class="row">
        <div class="col-12">
            <!-- <p>
                There are so many ways YOU can help make BCen a success!
            </p> -->
            <!-- Balloon 'is-dark'  -->
            <section class="nes-container is-dark">
                <section class="message-list">
                    <section class="message -left">
                        <!-- Nintendo owns the copyright of these characters/icons -->
                        <i class="nes-ash"></i>
                        <!-- Balloon -->
                        <div class="nes-balloon from-left is-dark">
                            <p>
                                Hello BCen Congoer!
                                <span class=""><i class="nes-pokeball pokez"></i></span> 
                            </p>
                        </div>
                    </section>

                    <section class="message -right">
                        <!-- Balloon -->
                        <div class="nes-balloon from-right is-dark">
                            <p>
                                I heard you're looking to help out! That's great! 
                                <span class="kirbz">I'm hungry...</span> 
                            </p>
                        </div>
                        <i class="nes-kirby"></i>
                    </section>

                    <section class="message -left">
                        <i class="nes-mario"></i>
                        <!-- Balloon -->
                        <div class="nes-balloon from-left is-dark">
                            <p>There are-a so many ways-a YOU canna help make-a BCen a success! Just look at the jobs that-a need-a you below!</p>
                        </div>
                    </section>
                </section>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <ol>
                <div class="container">
                    <div class="row">
                        <div class="col-6 ">
                            <li *ngFor="let r of responsibilities" class="takenJobs">
                                <h4 >{{r.description}}</h4>
                                <div id={{r.id}} style="background-color:#212529; padding: 10px; width:220px;">
                                    <label>
                                      <input (click)="selectResponsibility(r.id)" type="checkbox" class="nes-checkbox is-dark" unchecked />
                                      <span>Choose me!</span>
                                    </label>
                                  </div>
                                <p># of Spots: {{(r.users.length >= r.upperlimit) ? 0 : r.upperlimit - r.users.length}} / {{r.upperlimit}}</p>  
                                <p>{{r.name}}</p>     
                            </li>
                        </div>
                    </div>
                </div>
            </ol>
        </div>
    </div>
    <div class="col-6">
        <button (click)="updateResponsibilities()" type="button" class="nes-btn is-warning submit">Submit!
        </button>
    </div>
</div>