.titles {
    color: #235877;
    background: 'linear-gradient(to left, #374d93, #020024)';
    font-size: 40px;
    font-weight: 600;
    text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
    margin-bottom: 0;
    /* font-family: 'Bangers', cursive; */
    font-family: 'Press Start 2P', cursive;
}
.borderLine {
    background-color: black;
    width: 10px;
    height: 5px;
    margin-bottom: 20px;
}
.heartCol {
    margin-top: -55px;
    margin-bottom: 20px;
}
.nesCont {
    margin-top: 35px;
}
.nes-kirby, .nes-bcrikko, .nes-ash, .nes-mario {
    height: 25px;
}
section {
    margin-bottom: 40px;
}
.nes-balloon{
    max-width: 856px;
}

li {
    margin: 35px 10px;
}

.takenJobs {
    color: gray;
}
.kirbz{
    font-size: 10px;
}

.pokez{
    font-size: 10px;
}

@media (max-width: 1200px) {
    .nes-balloon {
        max-width:85%;
    }
    .titles {
        margin-bottom: 45px;
       
    }
    .heartCol {
        min-width: fit-content;
    }
}

@media (max-width: 1024px) {
    
}

@media (max-width: 991px) {
    .nes-balloon {
        max-width:75%;
    }
}

@media (max-width: 767px) {
    .nes-balloon {
        max-width: 65%;
    }
}

@media (max-width: 471px) {
    .nes-balloon {
        max-width: 55%;
    }
}

@media (max-width: 425px) {
    .titles {
        font-size: 26px;
    }
}

@media (max-width: 400px) {
    .nes-balloon {
        max-width: 45%;
    }
}
@media (max-width: 400px) {
    .star {
        font-size: 15px;
    }
}
@media (max-width: 375px) {
    .nes-balloon {
        max-width: 55%;
    }
    .nes-kirby {
        width: 6px;
    }
}